<%- include('partials/header'); -%>
<form method="post">
    <h1>Compose</h1><br>
    <label for="exampleInputEmail1">Title</label>
    <input name="composeText" class="form-control">
    <label for="exampleInputEmail1">Post</label><br>
    <textarea name="composeBody" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include('partials/footer'); -%>